.about-card{
  background-image: linear-gradient(to bottom, #080810 0%, #080810 62.21%, #090913 100%);
  overflow: hidden;
  padding-top: 8.3rem;
  margin-top: 4rem;
}
.about-h1{
  position: relative;
}
.about-glow1{
  position: absolute;
  top: -80px;
  left: 25%;
}
.about-glow2{
  position: absolute;
  top: -10px;
  left: 35%;
}
.about-content{
  font-size: 1.8rem;
  text-align: center;
  width: 80rem;
  margin: 0 auto;
  margin-top: 4.4rem;
  position: relative;
}

.about-content img{

}

.about-join-btn{
  width: max-content;
  margin: 0 auto;
}

.about-content-extension{
  text-align: center;
  font-size: 3.4rem;
  font-weight: 500;
  width: max-content;
  margin: 0 auto;
  color: #DBDCEC;
  color: #DBDCEC;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #DBDCEC;
}

.about-content-extension .about-you{
  font-size: 8.5rem;
  color: #650AC5;
  -webkit-text-stroke-color: #650AC5;
}

.about-socials{
  margin: 0 auto;
  width: max-content;
  margin-top: 4rem;

}
.about-bottom-img{
  width: 100%;

}

.about-need-help{
  margin-top: 8.6rem;
  margin-bottom: 5rem;
}