.share-blog-sticky{
  position: fixed;
  top: 35%;
  left: 2px;
  z-index: 1;
}

.share-blog-item{
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-out;
  cursor: pointer !important;
  
}

.share-blog-item:hover{
  scale: 1.2;
}
.share-blog-twitter{
  background-color: #006FD6;
}
.share-blog-instagram{
  background-color: #E08213;
}
.share-blog-discord{
  background-color: #5964F2;
}


.blog{
  margin-bottom: 10rem;
}
.blog-card-lg{
  
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--app-bg-color);
  margin-bottom: 25px;
}
.blog-card-lg-img{
  max-height: 40rem;
}
.blog-card-lg img{
  width: 100%;
  height: 40rem;
  object-fit: cover;
  object-position: top;
}

.blog-card-lg-content{
  padding: 2.8rem;
  position: relative;
}

.blog-card-lg-content h5{
  font-size: 2.5rem;
  font-weight: 500;
  max-width: 71.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.blog-card-lg-content p{
  max-width: 71.5rem;
  margin: 0 auto;
}
.blog-card-glow-half{
  position: absolute;
  top: -90px;
  left: 0;
}
.blog-card-sm{
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--app-bg-color);
  margin-bottom: 25px;
}
.blog-card-sm-img{
  max-height: 22rem;
}
.blog-card-sm img{
  width: 100%;
  height: 22rem;
  object-fit: cover;
  object-position: center;
}

.blog-card-sm-img-small img{
  max-height: 15rem;
}
.blog-card-sm-content{
  padding: 2.2rem 1.6rem;
  position: relative;
}
.blog-card-sm-content-small{
  padding: 1.2rem 1.6rem;

}
.blog-card-sm-content h6{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px;
}

.blog-card-sm p{
  font-size: 12px;
  color: #97979B;
}

.blog-card-glow-halfsm{
  position: absolute;
  top: -65px;
  left: 0;
}

.search{
  position: relative;
  border-radius: 5px;
}
.search input{
  margin: 0px;
  padding: 0px 7px 0px 2.7rem;
  width: 100%;
  outline: none;
  border: none;
  height: 4rem;
  border-radius: 5px;
  box-shadow: inset 0px 0px 1px 1px rgba(50,50,114, 0.1 ), 0px 0px 2px 1px rgba(50,50,114,1 ), 0px 0px 5px 5px rgba(195, 46, 245, 0.1);
  background-color: rgba(9, 9, 19, 1);
  color: #fff;
  font-size: 14px;
}

.search button {
  position: absolute;
  right: 6px;
  top: 3px;
}

.blog-top-post-glow{
  position: absolute;
  top: -90px;
  left: -125px;
}
.top-post-header{
  position: relative;
}
.top-post-header h5{
  font-size: 25px;
  font-weight: 600;
}
.side-posts{
  background-image: linear-gradient(to bottom, #080810, #090913);
  border-radius: 10px;
  padding: 13px 20px 14px;
  z-index: 1;
  position: relative;
}
.side-posts h6{
  font-size: 1.8rem;
}
.side-posts p{
  font-size: 1.4rem;
  color: #97979B;
}
.blog-socials{
  margin-top: 5rem;
}
.blog-socials-content{
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.blog-socials-img{
  width: 32%;
  height: 115px;
  margin-bottom: 10px;
}

.blog-socials-img img{
  width: 100%;
  height: 100%;
}

.blog-pagination{
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.blog-pag-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  border: 1px solid #650AC5;
  border-radius: 8px;
  width: 31px;
  height: 31px;
  cursor: pointer;
}

.blog-pag-btn:active{
  transform: translateY(2px);
}
.blog-pag-btn.pag-active {
  background-color: #650AC5;
}
.blog-pag-btn.pag-left{
  transform: rotateY(180deg);
}
.blog-detail{
  margin-bottom: 15rem;
}
.blog-card-details-glow{
  position: absolute;
  top: -132px;
  left: -97px;
}
.blog-card-detail-img{
  border-radius: 20px;
  overflow: hidden;
}


.blog-card-detail-img img{
  width: 100%;
  height: 47rem;
  object-fit: cover;
  object-position: top;
}

.blog-card-detail-description{
  font-size: 1.4rem;
}

.tweet-screenshot{
  max-width: 391px;
  border-radius: 10px;
  overflow: hidden;
}
.tweet-screenshot img{
  width: 100%;
}

.blog-detail-conclusion{
  padding-bottom: 5rem;
  border-bottom: 1px solid #C432F6;
}
.blog-detail-share-post p{
  color: #DBDCEC;
  font-size: 14px;
}

.blog-detail-content-imgs{
  max-width: 95%;
}
.blog-detail-content-imgs img{
  max-width: 100%;
}