:root{
  --app-bg-color: #080812;
  --app-text-secondary: #DBDCEC;
  --color-purple-2: #c32ef5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all .2s ease-out !important;
}


html {
  width: 100% !important;
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden !important;
}


body {
  width: 100% !important;
  font-family: "Poppins" !important;
  background-color: #000 !important;
  color: #fff !important;
  font-size: 1.6rem;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 767px){
  .app{
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

